<header>
    <div class="container">
        <div class="header-content">
            <a href="{{ site.baseurl }}/" class="logo">{{ site.title }}</a>
            <nav>
                <ul>
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                    <li><a href="{{ site.baseurl }}/graph">Knowledge Graph</a></li>
                    <li><a href="{{ site.baseurl }}/about">About</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
